# we use this as a template to hook into github packages to use the package we just published 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
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@dondrzzy:registry=https://npm.pkg.github.com
